<h2>Albums</h2>

<p class="add_button"><a href="/albums/new">Add Album</a></p>

<div class="flex-container">


<% @albums.each do |album| %>
<div class="albums">
  <p>Title: <%= album.title %></p>
  <p>Quantity: <%= album.quantity %></p>
  <p>Stock Level: <%= album.stock_count()%></p>
  <p>Artist: <a href="/artists/<%= album.artist_id %>"><%= Artist.find(album.artist_id).name %></a></p>

  <div class="modifier">

<a class="button" href="/albums/<%= album.id %>/edit"><img class="button_image" src="edit.jpeg" alt="Update"/></a>
<a class="button" href="/albums/<%= album.id %>/delete"><img class="button_image" src="delete.jpeg" alt="Delete"/></a>
</div>
</div>
<% end %>
</div>
