<h2>Artists</h2>

<p class="add_button"><a href="/artists/new">Add Artist</a></p>
<div class="flex-container">


<% @artists.each do |artist| %>
<div class="artist">
<h3><a href="/artists/<%= artist.id %>"><%= artist.name %></a></h3>
<img src='<%= artist.image %>'/>

<div class="modifier">
<a class="button" href="/artists/<%= artist.id %>/edit"><img class="button_image" src="edit.jpeg" alt="Update"/></a>
<a class="button" href="/artists/<%= artist.id %>/delete"><img class="button_image" src="delete.jpeg" alt="Delete"/></a>
<!-- <form method="post" action="/artists/<%= artist.id %>/delete">
  <input class="button_image" type="image" src="delete.jpeg" alt="Delete"/>
</form> -->
</div>
</div>

<% end %>
</div>
