
<div class="artist">
  <h3><%= @artist.name %></h3>
  <img src='/<%= @artist.image %>'/>
</div>


<% if @albums.length() >= 1 %>
  <h4>Albums</h4>

  <div class="flex-container">
    <% for album in @albums %>
    <div class="albums">
      <p>Title: <%= album.title %></p>
      <p>Quantity: <%= album.quantity %></p>
      <p>Stock Level: <%= album.stock_count() %></p>
    </div>
    <% end %>
  </div>
<% end %>

<a class="button" href="/artists">Cancel</a>
